.product-card{
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
    margin: 10px;
    box-shadow: 0 0 10px rgb(44, 44, 44);
}
.emoji{
    background-color: aliceblue;
    padding: 5px;
}